body.opal-bg {
  background-image: url("../img/opal-bg.png");
  background-attachment: fixed;
}

header h1.fw2 {
  font-weight: 600;
}

header div.pb3-m.pb6-l {
  padding-bottom: 0rem;
}

header div.tc-l {
  visibility: hidden;
  height: 0;
}

/* main site index */
main.pb7 div.pa3 section.w-100 div.relative.w-100 {
  background-color: #e8cbfc;
  border-radius: 7px;
}

/* content index page */
main section.flex-wrap div.relative.w-100.w-30-l.mb4.bg-white {
  background-color: #e8cbfc;
  border-radius: 7px;
}

main section.flex-wrap div.relative div.bg-white {
  background-color: transparent;
}

/* single page */ 
main.pb7 article.flex-l.flex-wrap.justify-between.mw8.center.ph3 {
  background-color: #e8cbfc;
  border-radius: 7px;
}

/* holographic sage treatment */
div.nested-img p {
  position: relative;
}
img[src*="#bottom"] {
  position: absolute;
}

img[src*="#mid"] {
  position: absolute;
}